.nbaCvpPlayerWrapper, #nbaLivePlyrContainer {
  display: inline-block;
  min-width: 260px;
  position: relative;
  width: 100%;
  margin: 0;
  vertical-align: top;
}
.nbaCvpPlayerWrapper::after, #nbaLivePlyrContainer::after {
  content: '';
  display: block;
  padding-top: 56.25%;
}
.nbaCvpPlayerInnerWrapper, #nbaLivePlyrContainerInner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
